* {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-size: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box
}

html {}

/* img{
    width: 100%;
    height: auto;
} */
/* image {
    max-width: 100%;
    height: auto;
} */

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.link {
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
}


.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 20px 60px; */
    /* gap: 10px; */
    width: 226px;
    height: 64px;
    border-radius: 80px;
}

.button--filled {
    background: #FFCF0E;
    border-style: none;


}

.button--filled:hover {
    /* filter: brightness(140%) */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #FFCF0E;
}

.button--stroked {
    background: inherit;
    border: 2px solid #FFFFFF;
    border-radius: 80px;
    width: 212px;
}

.button--stroked:hover {
    /* opacity: 0.6; */
    /* filter: brightness(200%); */
    backdrop-filter: brightness(95%)
}

/* header styles */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
}

.header__link {
    padding: 0 0 0 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.header__link--basket {
    padding: 0 64px 0 0;
    margin-bottom: 3px;
}

.header__menu {}

.header__logo {
    position: relative;
    text-align: center;
    color: white;
    right: 71px;
    bottom: 15px;
}

.header__logo--img {
    max-width: 100%;
    height: auto;
}

.header__text {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-weight: 600;

}

.header__basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__basket-button {
    padding: 0 55px 0 0;
    margin-bottom: 13px;
}

/* section 'about' */

.about {
    display: flex;
    align-items: center;
    position: relative;
    padding: 120px;
    height: 784px;
}

.about__information {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1;
    top: 171px;
}

.about__title {
    /* position: absolute; */
    /* margin-left: 80px;
    padding-bottom: 100px; */
}

.about__subtitle {
    /* margin-left: 80px; */
    padding-top: 47px;
}

.about__button {
    /* margin-left: 80px; */
    margin-top: 66px;
}

.about__image {
    position: relative;
    left: 317px;
    top: 3px;
    z-index: 0;
    max-width: 100%;
    height: auto;
}

.about__image--img {
    /* position: relative; */
    /* right: 120px; */
    top: 3px;


}


/* solution section */

.solution {
    display: flex;

    background-color: #B8E1F2;
    /* flex-direction: row; */
}

.solution__image {
    display: flex;
}

/* .solution__img{
    max-width: 100%;
} */

.solution__information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 167px 120px 0 38px;
}

.solution__title {}

.solution__subtitle {
    padding-top: 48px;
}

.solution__button {
    margin-top: 66px;
    margin-right: auto;
}


/* for test */

.tastes {
    display: flex;
    flex-direction: column;
}

.tastes__title {
    display: flex;
    justify-content: center;
    padding-top: 151px;

}

.tastes__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
    padding: 63px 120px 152px 120px;
    /* padding-bottom: 152px; */
}

.tastes__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 38px;
    /* gap: 24px; */
    isolation: isolate;
    max-width: 421px;
    max-height: 335px;
    border: 2px solid #99D74C;
    border-radius: 48px;
    /* padding-top: 51px; */
}

.tastes__image {}

.tastes__inner-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-top: 24px;
}

.tastes__inner-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    padding-top: 20px;
}

.tastes__item {}

/* products styles */

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFCF0E;
    padding-top: 151px;
    overflow: hidden;
    padding-bottom: 151px;
}

.products__title {

}

.products__container {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 79px;
    gap: 100px;
}
.products__container:last-child{

}
.products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .products__item:first-child {} */

.products__image {
    position: relative;
    width: 242px;
    height: 360px;
    background: #FFFFFF;
    border-radius: 56px;
}

.products__image--bottle {
    position: absolute;
    top: 11%;
    left: 33%;
}


.products__image--price {
    position: absolute;
    top: -6px;
    right: -10px;
}
.products__container{
    padding-left: 119px;
}
.products__container:last-child{
}
.products__item:last-child{
   
}
.products__description {
    padding-top: 24px;
    max-width: 242px;
    max-height: 72px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    display: table;
}

.button-here {
    /* width: 226px; */ 
}
.products__button{
    margin-top: 23px;
    height: 56px;
    width: 192px;
}
