* {
    margin: 0;

}

html {
    font-family: 'Poppins';
    font-style: normal;
    font-size: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.link {
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
}


.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 10px;
    width: 226px;
    height: 64px;
    border-radius: 80px;
}

.button--filled {}

.button--stroked {}

/* header styles */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
}

.header__link {
    padding: 0 0 0 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.header__link--basket {
    padding: 0 64px 0 0;
    margin-bottom: 3px;
}

/* .header__menu {} */

.header__logo {
    position: relative;
    text-align: center;
    color: white;
    margin-right: 143px;
    margin-bottom: 28px;
}

.header__logo--img {
    margin: 0;
}

.header__text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-weight: 600;

}

.header__basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__basket-button {
    padding: 0 55px 0 0;
    margin-bottom: 13px;
}

/* section 'about' */

.about {
    display: flex;
    align-items: center;
    padding: 80px 120px;
}

.about__information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;

}

.about__title {}

.about__subtitle {}

.about__button {}

.about__image {
    z-index: 1;
}